<div>
    <h3>Dear {{name}},</h3>
    <p>You requested a password reset, kindly use this <a href="{{url}}">link</a> to reset your password.</p>
    <br>
    <p>This link contains a security token. The token will expire after two hours!</p>
    <br>
    <p>Cheers!</p>
</div>
