<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
        position: relative;
        left: 5%;
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 30%;
    }
</style>

<body>
    <div class="container mx-auto">
        {{{body}}}
    </div>
    <footer class="footer mx-auto">
        <hr>
        <b>&copy; 2020 Root-ITSolutions | All Rights Reserved</b>
    </footer>
</body>

</html>